{% load url from future %}
<html>
<head>
	
</head>
<body>
	<h1>Search</h1>
	
	<form action="{% url 'search' %}" method="get">
		<div>
			<label for="zip_code">Destination zip code</label>
			<input type="text" id="zip_code" name="zip_code" />
		</div>
		<div>
			<label for="weight">Weight</label>
			<input type="text" id="weight" name="weight" />
		</div>
		<div>
			<label for"service_level">Service level</label>
			<select id="service_level" id="service_level" name="service_level">
				{% for service_level in service_levels %}
					<option value="{{ service_level.id }}">{{ service_level.name }} </option>
				{% endfor %}
			</select>
		</div>
		<div>
			<input type="submit" name="submit" value="submit" />
		</div>
	</form>

</body>
</html>
